/* font-family: 'Domine',
serif;
font-family: 'Roboto',
sans-serif */

.container {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

  height: 30rem;
  width: 15rem;
  margin: 10vh auto;

  box-shadow: 0rem 2rem 5rem rgba(0, 0, 0, 0.3);
  font-family: "Domine", serif;
}

.content__container {
  grid-column: 1 / -1;
  text-align: center;
  margin: auto;
}

.content__container span,
.content__container h4 {
  font-weight: 300;
}

.content__container h4 {
  font-family: "Roboto", sans-serif;
}

.img {
  width: 10rem;
  height: 10rem;
  border-radius: 20rem;
  object-fit: cover;
  box-shadow: 0rem 2rem 5rem rgba(0, 0, 0, 0.3);
}

.footer {
  grid-column: 1 / -1;
  background-color: #d1bea8;
  align-self: end;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 0;
}

.nav__links {
  list-style: none;
}

.nav__link:link,
.nav__link:visited {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
}

.nav__link:hover,
.nav__link:active {
  color: #85144b;
}
